@import "../../styles/@mixins"

.header
    height: 139px
    max-width: 1110px
    width: 100%
    display: flex
    align-items: center
    justify-content: space-between
    position: relative

.logo
    width: 255px
    height: 71px

.address
    display: flex
    flex-direction: column

.link
    display: flex
    gap: 10px
    height: 27px
    align-items: center
    @include contacts

.iconPhone
    background-image: url('../../assets/icons/phoneHeader.svg')
    width: 20px
    height: 20px
    background-repeat: no-repeat

.iconPlace
    background-image: url('../../assets/icons/adressHeader.svg')
    width: 16px
    height: 20px
    background-repeat: no-repeat

@media screen and (max-width: 1200px)
    .header
        flex-direction: column
        align-items: flex-end
        max-width: 1200px
        padding-right: 35px
        padding-top: 30px
        justify-content: flex-start
        gap: 22px

    .logo
        width: 201px
        height: 60px
        position: absolute
        left: 35px
        top: 30px
