@import "../../styles/@mixins"

.section
    min-height: 500px
    padding: 70px 0 0
    display: flex
    align-items: center
    flex-direction: column
    gap: 50px
    position: relative

.menu
    display: flex

.menuBtn
    display: flex
    justify-content: center
    align-items: center
    width: 278px
    height: 104px
    border-radius: 50px 50px 0px 0px
    @include productMenu
    text-align: center
    background-color: #71A4D7

.menuBtnActive
    composes: menuBtn
    background: #FACD83

.circleOne
    position: absolute
    width: 301px
    height: 301px
    border-radius: 50%
    background: #FACD83
    z-index: 0
    right: 40px
    top: 350px
