@import "../../styles/@mixins"

.btn
    display: flex
    align-items: center
    justify-content: center
    width: 349px
    height: 64px
    background: #FACD83
    border-radius: 10px
    transition: background-color 0.4s ease-in-out
    position: relative
    overflow: hidden

// .btn:hover
//     background: linear-gradient(0deg, #64f068 0%, #93efd6 100%)
    
.btn:hover
    background-color: #25D366
    transition: background-color 0.4s ease-in-out

.btn:before
    width: 3em
    height: 100%
    left: -30px
    background: rgba(255, 255, 255, 0.6)
    transform: translateX(-4em) skewX(-45deg)
    animation: blik 5s linear 1s infinite
    // animation-duration: 2s
    // animation-timing-function: ease-in
    // animation-delay: 5s
    // animation-iteration-count: infinite
    // animation-direction: normal
    // animation-fill-mode: none
    // animation-play-state: running
    // animation-name: blik
    content: ""
    position: absolute

@keyframes blik
    0%
        left: -30px
        margin-left: 0px
    10%
        left: 130%
        margin-left: 80px
    100%
        left: 110%
        margin-left: 80px

@media screen and (max-width: 1430px)
    .btn
        width: 300px

@media screen and (max-width: 450px)
    .btn
        width: 100%
