@import "../../styles/@mixins"

.btn
    display: flex
    align-items: center
    justify-content: center
    width: 300px
    height: 64px
    background: #FACD83
    border-radius: 10px
    @include buttonW
    
