.swiper-button-next,
.swiper-button-prev {
  padding: 0;
}


.swiper-wrapper {
  display: flex;
  align-items: center;
}
.swiper-button-prev, .swiper-button-next {
    top: 110%;
}

.swiper, swiper-container {
    overflow: visible;
    overflow-x: clip
}

.swiper-button-prev {
    right: 60%;
    left: 40%;
}
.swiper-button-next{
    right: 40%;
    left: 60%;
}