.section
    width: 100%
    display: flex
    gap: 40px
    justify-content: center
    padding-bottom: 100px
    position: relative

.imgWrapper
    max-width: 340px
    max-height: 450px
    overflow: hidden
    display: flex

.img
    object-fit: none
    object-position: -100px -120px

.textWrapper
    display: flex
    align-items: center
    gap: 8px
    max-width: 683px

.textIcon
    background: url('../../assets/icons/check.svg')
    background-repeat: no-repeat
    min-width: 44px
    height: 44px

.text
    font-family: Manrope
    font-size: 20px
    font-weight: 400
    line-height: 44px

.article
    display: flex
    flex-direction: column
    gap: 15px
    justify-content: center

.roundOne
    background: #FACD83
    border-radius: 50%
    width: 41px
    height: 41px
    position: absolute
    top: 187px
    left: 0

.roundTwo
    top: -144px
    right: 0
    position: absolute
    background: #FACD83
    border-radius: 50%
    width: 150px
    height: 150px

@media screen and ('max-width: 1200px')
    .section
        padding: 0 29px 70px
    .text
        font-family: Manrope
        font-size: 18px
        font-weight: 400
        line-height: 32px

@media screen and ('max-width: 1000px')
    .article
        gap: 8px

