@mixin nav
  font-family: 'Manrope'
  font-style: normal
  font-weight: 400
  font-size: 13px
  line-height: 27px

@mixin contacts
  font-family: 'Manrope'
  font-style: normal
  font-weight: 400
  font-size: 13px
  line-height: 27px

@mixin howToFindTitle
  font-family: Manrope
  font-size: 31px
  font-weight: 600
  line-height: 30px

@mixin howToFindText
  font-family: Manrope
  font-size: 14px
  font-weight: 400
  line-height: 22px

