@mixin nav
  font-family: 'Manrope'
  font-style: normal
  font-weight: 400
  font-size: 13px
  line-height: 27px

@mixin contacts
  font-family: 'Manrope'
  font-style: normal
  font-weight: 400
  font-size: 13px
  line-height: 27px
