@mixin nav
  font-family: Manrope
  font-style: normal
  font-weight: 400
  font-size: 13px
  line-height: 27px

@mixin contacts
  font-family: Manrope
  font-weight: 400
  font-size: 13px
  line-height: 27px

@mixin howToFindTitle
  font-family: Manrope
  font-size: 31px
  font-weight: 600
  line-height: 30px

@mixin howToFindText
  font-family: Manrope
  font-size: 14px
  font-weight: 400
  line-height: 22px

@mixin contactsTitle
  font-family: Manrope
  font-size: 30px
  font-weight: 400
  line-height: 40px

@mixin contactsText
  font-family: Manrope
  font-size: 16px
  font-weight: 300
  line-height: 32px

@mixin buttonW
  font-family: Manrope
  font-weight: 500
  font-size: 18px
  line-height: 44px

@mixin heroText
  font-family: Manrope
  font-weight: 300
  font-size: 28px
  line-height: 44px

@mixin heroMoto
  font-family: Manrope
  font-weight: 600
  font-size: 30px
  line-height: 44px

@mixin heroLink
  font-family: Manrope
  font-weight: 400
  font-size: 18px
  line-height: 44px

@mixin sectionMoto
  font-family: Manrope
  font-weight: 600
  font-size: 25px
  line-height: 44px

@mixin productMenu
  font-family: Manrope
  font-weight: 600
  font-size: 20px
  line-height: 26px

@mixin withYouText
  font-family: Manrope
  font-size: 18px
  font-weight: 400
  line-height: 27px

@mixin withYouTextBold
  font-family: Manrope
  font-size: 18px
  font-weight: 700
  line-height: 27px

@mixin textPriceBlock
  font-family: Manrope
  color: white

@mixin sectionTitleTablet
  font-family: Manrope
  font-size: 24px
  font-weight: 600
  line-height: 30px
