@import "../../styles/@mixins"

.howToFind
    width: 100%
    background-color: #F8F8F8

.title
    padding-top: 40px
    @include howToFindTitle
.wrapper
    display: flex
    justify-content: space-between
    width: 100%
    padding: 53px 0 40px

.list
    display: flex
    flex-direction: column
    gap: 25px
    max-width: 48%

.howToFindWrapper
    max-width: 1110px
    width: 100%
    margin: 0 auto

.element__iconCheck
    background-image: url('../../assets/icons/iconCheck.svg')
    background-repeat: no-repeat
    background-size: cover
    min-width: 42px
    height: 42px

.element__iconCross
    background-image: url('../../assets/icons/iconCross.svg')
    background-repeat: no-repeat
    background-size: cover
    min-width: 42px
    height: 42px

.item
    display: flex
    gap: 25px
    @include howToFindText

.sliderWrapper
    width: 100%
    max-width: 1100px
    display: flex
    justify-content: center

.sliderItem
    width: 100%
    max-width: 730px
    max-height: 430px
    margin: 0 auto
    display: flex

.sliderText
    padding-bottom: 40px

@media screen and ('max-width: 1200px')
    .title
        @include sectionTitleTablet
        padding-left: 35px

    .wrapper
        padding: 35px 35px 60px

@media screen and ('max-width: 800px')
    .wrapper
        flex-direction: column
        gap: 40px
        padding: 35px 15px 60px

    .element__iconCheck
        width: 15px
        height: 15px
        background-size: contain

    .element__iconCross
        width: 15px
        height: 15px
        background-size: contain

    .sliderItem
        max-height: none

@media screen and ('max-width: 500px')
    .howToFind
        overflow: hidden
    .title
        padding-left: 35px
